<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("common/head.ejs", {title: "home"}) %>
</head>

<body>
    <div class="menubox">
		<%- include("common/menubox"); %>
    </div>

    <div class="content">
    	<%- include("common/share.ejs", {url: url, "message": false}) %>
		<%- include("common/list.ejs", {posts: posts}) %>
		<%- include("common/seemore.ejs", {html: "<a href=\"/posts\">- show all -</a>"}) %>
    </div>

    <div class="footer">
		<%- include("common/footer"); %>
    </div>
</body>

</html>
