<div class="entrybox share">
	<div class="entry">
		<h1 class="title">Share</h1>
		<hr  class="seperator">
		<% if(message) { %>
			<%- message %>
			<hr class="seperator">
		<% } %>
		Don't know why you would want to, but here you can find me elsewhere on the interwebz:
		<br \\>
			<a href="/redirect/social/github"><img class="socialicon" title="pls click tiktok icon!" src="/static/icon/github.png" \\></a>
			<a href="/redirect/social/tiktok"><img class="socialicon" title="100% legit"             src="/static/icon/tiktok.png" \\></a>
		<small>
			(yea thats it lol)
		</small>
			<br \\><br \\>
	
			oh yea the title of this box: go share this page using...
		<a title="good old fashioned email!"             class="share" href="mailto:?subject=DerZombiiies%20totally%20cool%20website!&body=Hi%2C%0AI%20just%20found%20this%20on%20the%20interwebz%3A%20<%= url %>">Email</a>,
		<a title="i dont use it; works though (i think)" class="share" href="whatsapp://send?text=Hi%2C%0AI%20just%20found%20this%20on%20the%20interwebz%3A%20<%= url %>r">WhatsApp</a>,
		<a title="twitter, pls url don't be too long!" class="share" href="https://twitter.com/intent/tweet?text=Check%20derzombiiies%20website!%0A%40%20<%= url %>">Twitter</a>,
		Copy: <input value="<%= url %>" \\>
	</div>
</div>
